<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <div id="logo1">
                    <img src="static/logo.png" alt="">
                </div>
                <div id="logo2">
                    <img src="static/1.png" alt="">
                </div>
            </div>
            <div class="botoes">
                <button id="home">Home</button>
                <button id="jogos">Jogos</button>
                <button id="sobre">Sobre</button>
                <button id="ajuda">Ajuda</button>
                <button id="botao-login">Login</button>
            </div>
            <div class="perfil">
                <img src="static/avatar-perfil.jpg" alt="">
            </div>
        </header>

        <!--<aside>
            <div class="introducao">
                
            </div>-->
        </aside>
        <section>
           <div class="login-cadastro">
                <div id="box1">
                    <img src="static/Mental.jpg" alt="">
                </div>
                <div id="box2">
                    <h1>Login</h1>
                    <div class="form">
                        <form id="login">
                            <input type="email" id="emailId" placeholder="Email ou número de telefone">
                            <input type="password" id="senhaId" placeholder="Senha">
                            <input id="entrar" type="button" value="Entrar">
                        </form>
                        <div class="lembrar">
                            <input type="checkbox" id="checkId">
                            <label for="checkId">Lembrar senha</label>
                        </div>
                        <div class="cadastrar">
                            <h4>Ainda não tem uma conta?</h4>
                            <button>Cadastre-se</button>
                        </div>
                        <div class="conectar-login">
                            <h5 style="color: rgb(94, 92, 92); ">Entrar com:</h5>
                            <div>
                                <a href="https://accounts.google.com"><img src="static/google.png"></a>
                                <a href="https://pt-br.facebook.com/"><img src="static/facebook.png"></a>
                                <a href="https://www.instagram.com/?hl=en"><img src="static/Instagram.webp"></a>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>