/* Estiliza o elemento aside */
aside {
    display: flex;              /* Define o layout do aside como flexbox */
    background-color: skyblue; /* Define a cor de fundo do aside como azul claro */
    color: white;              /* Define a cor do texto dentro do aside como branca */
    flex-direction: row;        /* Organiza os itens do aside em uma linha */
    width: 100%;                /* Define a largura do aside como 100% da largura da viewport */
    height: 40%;                /* Define a altura do aside como 30% da altura da viewport */
}
/* Estiliza a seção principal */
section {
    display: flex;              /* Define o layout da seção como flexbox */
    flex-direction: column;     /* Organiza os itens da seção em uma coluna */
    align-items: center;        /* Alinha os itens da seção ao centro horizontalmente */
    width: 100%;                /* Define a largura da seção como 100% da largura da viewport */
    height: 60%;                /* Define a altura da seção como 50% da altura da viewport */
    border-top: 1px solid rgb(124, 124, 124); /* Adiciona uma borda superior cinza à área de jogos */
}

.box {
    width: 60%;
    height: 70%;
    background-color: rgb(223, 220, 220);
    padding: 40px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
form {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    padding: 15px;
}
input {
    width: 50%;
    padding: 8px;
    margin: 8px;
    border: 1px solid gray;
    border-radius: 10px;
}

#mensagem {
    height: 100px;
}

#enviar {
    width: 20%;
    padding: 8px;
    margin: 8px;
    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
    background-color: skyblue;
    color: white;
}
#enviar:hover {
    background-color: rgb(255, 194, 81);
}
