*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.container{
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgb(124, 124, 124);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 12%;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 50%;
}

#logo1 img{
    width: 80px;
    height: 80px;
}
#logo2{
    display: flex;
    height: 80px;
    align-items: center;
}
#logo2 img{
    width: 180px;
    height: 180px;
}
.links{
    text-decoration: none;
    color: black;
}
#home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 100%;
    cursor: pointer;
    color: orange;
}
#home a:hover{
    color: orange;
}
#jogos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 100%;
    cursor: pointer;
}
#jogos:hover{
    color: orange;
}
#sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 100%;
    cursor: pointer;
}
#sobre:hover{
    color: orange;
}
#ajuda{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 100%;
    cursor: pointer;
}
#ajuda:hover{
    color: orange;
}
#botao-login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 100%;
    cursor: pointer;
    background-color: orange;
    color: white;
}
#botao-login:hover{
    background-color: rgb(146, 145, 145);
    color: white;
}

.perfil img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 5px;
}
aside{
    display: flex;
    background-color: rgb(255, 200, 97);
    color: white;
    flex-direction: row;
    width: 100%;
    height: 30%;
}
.introducao{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80%;
    margin-left: 30px;
}
.introducao h1{
    margin: 10px;
}
section{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50%;
}
/*.introducao{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35%;
    padding: 10px;
}
.introducao img{
    width: 175px;
    height: 175px;
}
.introducao h1{
    font-size: 35px;
    margin-top: 60px;
}*/
.jogos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;
    padding: 10px;
    border-top: 1px solid rgb(124, 124, 124);
}
.jogos h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
    margin-top: 10px;
    color: black;
}
#trilha{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: orange;
    width: 25%;
    height: 100%;
}
#trilha img{
    width: 170px;
    height: 170px;
}

#quebra-cabeca{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: orange;
    width: 25%;
    height: 100%;
}
#quebra-cabeca img{
    width: 170px;
    height: 170px;
}
#quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: orange;
    width: 25%;
    height: 100%;
}
#quiz img{
    width: 170px;
    height: 170px;
}

footer{
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgb(124, 124, 124);
    width: 100%;
    height: 10%;
}

.botoes{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 50%;
    height: 50px;
    margin-left: 20%;
    font-size: 18px;
    padding: 1rem;
    
}

.menu-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    font-size: 18px;
}

/* responsivo para tablet*/
@media (max-width: 810px) {
    header{
        height: 12%;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav .menu-items {
        flex-direction: column;
        margin-top: 1rem;
    }
    .menu-items button{
        height: 5px;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .menu-icon::before {
        content: "\2630";
        font-size: 1.5rem;
    }

    .menu-items {
        display: none;
    }

    .menu-items.show {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    aside{
        height: 10%;
    }
    section{
        height: 70%;
    }
    .jogos{
        align-items: flex-start;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;

    }
    #trilha{
        justify-content: space-between;
        width: 100%;
        height: 40%;
    }
    
    #quebra-cabeca{
        justify-content: space-between;
        width: 100%;
        height: 40%;
    }
    #quiz{
        justify-content: space-between;
        width: 100%;
        height: 40%;
    }
}