

/* Estilo para a seção principal do conteúdo */
#section_quiz {
    display: flex; /* Utiliza flexbox para layout */
    flex-direction: column; /* Organiza o conteúdo em uma coluna */
    width: 100%; /* Largura da seção é 100% da largura disponível */
    flex: 1; /* Permite que a seção cresça para preencher o espaço disponível */
    overflow-y: auto; /* Adiciona rolagem vertical se o conteúdo exceder a altura */
    background-color: skyblue; /* Cor de fundo azul claro */
    padding: 15px; /* Espaçamento interno da seção */
}

/* Estilo para a caixa central de conteúdo */
.box {
    display: flex; /* Utiliza flexbox para layout */
    flex-direction: column; /* Organiza o conteúdo em uma coluna */
    align-items: center; /* Alinha os itens horizontalmente ao centro */
    width: 85%; /* Largura da caixa central */
    max-width: 1000px; /* Largura máxima da caixa central */
    margin: 0 auto; /* Centraliza a caixa horizontalmente */
    background-color: white; /* Cor de fundo branca */
}

/* Estilo para o título do jogo */
#titulo-jogo {
    padding: 15px; /* Espaçamento interno ao redor do título */
    text-align: center; /* Alinha o texto ao centro */
}

/* Estilo para o primeiro bloco de conteúdo */
#bloco1 {
    width: 95%; /* Largura do bloco de conteúdo */
    height: 400px; /* Altura do bloco de conteúdo */
    position: relative; /* Permite o posicionamento relativo dos filhos */
    display: flex; /* Utiliza flexbox para layout */
    flex-direction: column; /* Organiza o conteúdo em uma coluna */
    background-color: white; /* Cor de fundo branca */
    border: 1px solid rgb(173, 173, 173); /* Borda cinza clara ao redor do bloco */
    padding: 20px; /* Espaçamento interno ao redor do conteúdo */
}

/* Estilo para o temporizador */
#Tempo_restante {
    width: 40px; /* Largura do temporizador */
    border: 1px solid black; /* Borda preta ao redor do temporizador */
    border-radius: 90px;
    padding: 12px;
}

/* Estilo para a pergunta */
#pergunta {
    margin-top: 40px; /* Espaço acima da pergunta */
    font-weight: bold; /* Deixa o texto em negrito */
    font-size: 17px; /* Define o tamanho da fonte */
}

/* Estilo para o contêiner das questões */
.questao {
    display: flex; /* Utiliza flexbox para layout */
    flex-wrap: wrap; /* Permite que os itens quebrem a linha se necessário */
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    gap: 10px; /* Espaço entre os itens */
    width: 70%; /* Largura do contêiner das questões */
    padding: 10px; /* Espaçamento interno ao redor do conteúdo */
    margin-left: 15%; /* Espaço à esquerda do contêiner das questões */
    margin-top: 40px; /* Espaço acima do contêiner das questões */
}

/* Estilo para as opções de resposta */
#input-1{
    flex: 1 1 250px; /* Permite que as opções cresçam e encolham conforme necessário */
    width: 275px; /* Largura das opções de resposta */
    height: 60px; /* Altura das opções de resposta */
    margin: 10px; /* Espaço ao redor de cada opção */
    margin-left: 15px; /* Espaço à esquerda de cada opção */
    background-color: red; /* Cor de fundo */
    color: white; /* Cor do texto branca */
    font-size: 17px; /* Tamanho da fonte */
    border: 1px solid gray; /* borda */
}
#input-2{
    flex: 1 1 250px; /* Permite que as opções cresçam e encolham conforme necessário */
    width: 275px; /* Largura das opções de resposta */
    height: 60px; /* Altura das opções de resposta */
    margin: 10px; /* Espaço ao redor de cada opção */
    margin-left: 15px; /* Espaço à esquerda de cada opção */
    background-color: green; /* Cor de fundo */
    color: white; /* Cor do texto branca */
    font-size: 17px; /* Tamanho da fonte */
    border: 1px solid gray; /* borda */
}
#input-3{
    flex: 1 1 250px; /* Permite que as opções cresçam e encolham conforme necessário */
    width: 275px; /* Largura das opções de resposta */
    height: 60px; /* Altura das opções de resposta */
    margin: 10px; /* Espaço ao redor de cada opção */
    margin-left: 15px; /* Espaço à esquerda de cada opção */
    background-color:rgb(255, 186, 58); /* Cor de fundo */
    color: white; /* Cor do texto branca */
    font-size: 17px; /* Tamanho da fonte */
    border: 1px solid gray; /* borda */
}
#input-4{
    flex: 1 1 250px; /* Permite que as opções cresçam e encolham conforme necessário */
    width: 275px; /* Largura das opções de resposta */
    height: 60px; /* Altura das opções de resposta */
    margin: 10px; /* Espaço ao redor de cada opção */
    margin-left: 15px; /* Espaço à esquerda de cada opção */
    background-color: blue; /* Cor de fundo */
    color: white; /* Cor do texto branca */ 
    font-size: 17px; /* Tamanho da fonte */
    border: 1px solid gray; /* borda*/
}

/* Estilo para a área de resposta */
#resposta {
    margin-top: 20px; /* Espaço acima da área de resposta */
}

/* Estilo para o contêiner do quiz */
#div_quiz {
    width: 100%; /* Largura do contêiner do quiz */
    background-color: gainsboro; /* Cor de fundo cinza claro */
}

/* Estilo para o segundo bloco de conteúdo */
#bloco2 {
    display: flex; /* Utiliza flexbox para layout */
    flex-direction: column; /* Organiza o conteúdo em uma coluna */
    width: 90%; /* Largura do bloco de conteúdo */
    margin-top: 20px; /* Espaço acima do bloco de conteúdo */
    margin-right: 60px; /* Espaço à direita do bloco de conteúdo */
    padding-bottom: 30px; /* Espaço interno na parte inferior do bloco */
    background-color: white; /* Cor de fundo branca */
}

/* Estilo para o texto de descrição */
#desc_text {
    padding: 15px; /* Espaçamento interno ao redor do texto */
}

/* Estilo para a descrição geral */
.descricao {
    display: flex; /* Utiliza flexbox para layout */
    flex-direction: column; /* Organiza o conteúdo em uma coluna */
}

/* Estilo para a seção de botões */
.botoes {
    display: flex; /* Utiliza flexbox para layout */
    flex-direction: row-reverse; /* Organiza os botões em uma linha inversa (direita para esquerda) */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    width: 50%; /* Largura da seção de botões */
    height: 50px; /* Altura da seção de botões */
    margin-left: 20%; /* Espaço à esquerda da seção de botões */
    font-size: 18px; /* Tamanho da fonte dos botões */
    padding: 1rem; /* Espaçamento interno ao redor dos botões */
}

/* Estilo para os itens do menu */
.menu-items {
    display: flex; /* Utiliza flexbox para layout */
    flex-direction: row; /* Organiza os itens em uma linha */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-between; /* Distribui os itens com espaço entre eles */
    width: 100%; /* Largura do contêiner do menu */
    height: 40px; /* Altura do contêiner do menu */
    font-size: 18px; /* Tamanho da fonte dos itens do menu */
}