

/* Estilo da seção principal */
#section_login {
    display: flex;                    /* Define o layout da seção como flexbox */
    justify-content: center;         /* Centraliza o conteúdo horizontalmente */
    align-items: center;             /* Centraliza o conteúdo verticalmente */
    width: 100%;                      /* Define a largura da seção como 100% da largura da viewport */
    height: 80%;                      /* Define a altura da seção como 80% da altura da viewport */
    background-image: linear-gradient(rgb(255, 184, 51), rgb(255, 221, 158)); /* Adiciona um gradiente de fundo */
}

/* Estilo da área de login e cadastro */
.login-cadastro {
    display: flex;                    /* Define o layout da área como flexbox */
    width: 70%;                       /* Define a largura da área como 70% da largura da seção */
    height: 90%;                      /* Define a altura da área como 90% da altura da seção */
    background-color: white;         /* Define a cor de fundo da área como branca */
}

/* Estilo da primeira metade da área de login e cadastro */
#box1 {
    display: flex;                    /* Define o layout da caixa como flexbox */
    width: 50%;                       /* Define a largura da caixa como 50% da largura da área */
    height: 100%;                     /* Define a altura da caixa como 100% da altura da área */
    /*background-color: rgb(255, 223, 223);*/ /* Cor de fundo opcional para a caixa */
}

/* Estilo da segunda metade da área de login e cadastro */
#box2 {
    display: flex;                    /* Define o layout da caixa como flexbox */
    flex-direction: column;           /* Organiza os itens da caixa em uma coluna */
    align-items: center;             /* Alinha os itens ao centro horizontalmente */
    justify-content: center;         /* Centraliza os itens verticalmente */
    width: 50%;                       /* Define a largura da caixa como 50% da largura da área */
    height: 100%;                     /* Define a altura da caixa como 100% da altura da área */
    background-color: white;         /* Define a cor de fundo da caixa como branca */
    font-family: Arial;              /* Define a fonte do texto na caixa */
}

/* Estilo dos formulários */
.form {
    height: 60%;                     /* Define a altura do formulário como 60% da altura da caixa */
    width: 80%;                      /* Define a largura do formulário como 80% da largura da caixa */
    display: flex;                   /* Define o layout do formulário como flexbox */
    flex-direction: column;          /* Organiza os itens do formulário em uma coluna */
    align-items: center;             /* Alinha os itens ao centro horizontalmente */
    border-radius: 10px;             /* Adiciona bordas arredondadas ao formulário */
    margin-top: 20px;                /* Adiciona uma margem superior ao formulário */
}

/* Estilo do bloco de login */
#login {
    display: flex;                    /* Define o layout do bloco de login como flexbox */
    flex-direction: column;           /* Organiza os itens do bloco de login em uma coluna */
    justify-content: center;         /* Centraliza os itens verticalmente */
    position: relative;              /* Define o posicionamento relativo para o bloco de login */
    font-family: Arial;              /* Define a fonte do texto no bloco de login */
    font-size: 15px;                 /* Define o tamanho da fonte do texto no bloco de login */
    width: 300px;                    /* Define a largura do bloco de login */
    height: 200px;                   /* Define a altura do bloco de login */
    margin-bottom: 150px;            /* Adiciona uma margem inferior ao bloco de login */
}

/* Estilo dos campos de entrada */
input {
    padding: 10px;                   /* Adiciona preenchimento interno aos campos de entrada */
    background-color: rgb(224, 223, 223); /* Define a cor de fundo dos campos de entrada */
    color: gray;                     /* Define a cor do texto nos campos de entrada */
    margin-bottom: 10px;             /* Adiciona uma margem inferior aos campos de entrada */
    border-radius: 4px;              /* Adiciona bordas arredondadas aos campos de entrada */
    outline: none;                   /* Remove o contorno padrão dos campos de entrada */
}
input::placeholder {
    color: gray;                     /* Define a cor do texto de espaço reservado (placeholder) como cinza */
}
input[type="button"] {
    background-color: rgb(253, 174, 26); /* Define a cor de fundo do botão de entrada como laranja */
    color: white;                    /* Define a cor do texto do botão de entrada como branca */
    cursor: pointer;                /* Define o cursor como ponteiro ao passar sobre o botão */
    margin-top: 15px;               /* Adiciona uma margem superior ao botão de entrada */
}
#entrar:hover {
    background-color: rgb(146, 145, 145); /* Muda a cor de fundo para cinza ao passar o mouse sobre o botão de entrada */
    color: white;                    /* Mantém a cor do texto como branca ao passar o mouse */
}

/* Estilo da opção de lembrar-se de mim */
.lembrar {
    display: flex;                    /* Define o layout da opção como flexbox */
    position: relative;              /* Define o posicionamento relativo para a opção */
    bottom: 150px;                   /* Define a distância da parte inferior da página */
    right: 98px;                     /* Define a distância da borda direita da página */
    font-family: Arial;              /* Define a fonte do texto na opção */
    font-size: 12px;                 /* Define o tamanho da fonte do texto na opção */
}

.cadastrar {
    display: flex;                    /* Define o layout da opção como flexbox */
    flex-direction: row;
    justify-content: flex-start;              /* Organiza os itens da opção em uma linha */
    position: relative;              /* Define o posicionamento relativo para a opção */
    bottom: 145px;
    width: 290px;                   /* Define a distância da parte inferior da página */
    right: 2px;                      /* Define a distância da borda direita da página */
    font-family: Arial;              /* Define a fonte do texto na opção */
    font-size: 12px;                 /* Define o tamanho da fonte do texto na opção */
}

.cadastrar #link-cadastro{
    background-color: white;         /* Define a cor de fundo do botão de cadastro como branca */
    color: orange;
    text-decoration: none;            /* Define a cor do texto do botão de cadastro como laranja */
    padding: 5px;                    /* Adiciona preenchimento interno ao botão de cadastro */
    border-radius: 20px;             /* Adiciona bordas arredondadas ao botão de cadastro */
    margin-left: 20px;               /* Adiciona uma margem esquerda ao botão de cadastro */
    margin-top: -5px;                /* Adiciona uma margem superior negativa ao botão de cadastro */
    border: 1px solid orange;        /* Adiciona uma borda laranja ao botão de cadastro */
    cursor: pointer;                /* Define o cursor como ponteiro ao passar sobre o botão */
}

/* Estilo da área de conectar com login */
.conectar-login {
    display: flex;                    /* Define o layout da área como flexbox */
    position: relative;              /* Define o posicionamento relativo para a área */
    flex-direction: column;           /* Organiza os itens da área em uma coluna */
    align-items: center;             /* Alinha os itens ao centro horizontalmente */
    font-family: Arial;              /* Define a fonte do texto na área */
    width: 300px;                    /* Define a largura da área */
    height: 60px;                    /* Define a altura da área */
    bottom: 130px;                   /* Define a distância da parte inferior da página */
}
.conectar-login a {
    display: flex;                    /* Define o layout do link como flexbox */
    width: 15px;                     /* Define a largura do link */
    height: 20px;                    /* Define a altura do link */
    margin: 15px;                    /* Adiciona uma margem ao redor do link */
    padding-top: 3px;                /* Adiciona preenchimento superior ao link */
}
.conectar-login img {
    border-radius: 10px;             /* Adiciona bordas arredondadas às imagens */
}
.conectar-login div {
    display: flex;                    /* Define o layout do div como flexbox */
    flex-direction: row;              /* Organiza os itens do div em uma linha */
}

/* Estilo do rodapé */
footer {
    display: flex;                    /* Define o layout do rodapé como flexbox */
    flex-direction: row;              /* Organiza os itens do rodapé em uma linha */
    border-top: 1px solid rgb(124, 124, 124); /* Adiciona uma borda superior cinza ao rodapé */
    width: 100%;                      /* Define a largura do rodapé como 100% da largura da viewport */
    height: 10%;                      /* Define a altura do rodapé como 10% da altura da viewport */
}

/* Estilo dos botões no rodapé */
.botoes {
    display: flex;                    /* Define o layout dos botões como flexbox */
    flex-direction: row-reverse;      /* Organiza os botões na ordem inversa */
    align-items: center;             /* Alinha os itens verticalmente ao centro */
    width: 50%;                       /* Define a largura dos botões como 50% da largura do rodapé */
    height: 50px;                    /* Define a altura dos botões */
    margin-left: 20%;                /* Adiciona uma margem esquerda aos botões */
    font-size: 18px;                 /* Define o tamanho da fonte dos botões */
    padding: 1rem;                  /* Adiciona preenchimento interno aos botões */
}

/* Estilo dos itens do menu no rodapé */
.menu-items {
    display: flex;                    /* Define o layout dos itens do menu como flexbox */
    flex-direction: row;              /* Organiza os itens do menu em uma linha */
    align-items: center;             /* Alinha os itens verticalmente ao centro */
    justify-content: space-between;  /* Distribui os itens com espaçamento igual entre eles */
    width: 100%;                      /* Define a largura dos itens do menu como 100% da largura do rodapé */
    height: 40px;                    /* Define a altura dos itens do menu */
    font-size: 18px;                 /* Define o tamanho da fonte dos itens do menu */
}

/* Estilos para visualização em dispositivos móveis */
@media (max-width: 768px) {
    header {
        height: 12%;                  /* Mantém a altura do cabeçalho em dispositivos móveis */
    }
    nav {
        flex-direction: column;      /* Organiza os itens de navegação em uma coluna em dispositivos móveis */
        align-items: flex-start;    /* Alinha os itens de navegação à esquerda em dispositivos móveis */
    }
    nav .menu-items {
        flex-direction: column;      /* Organiza os itens do menu em uma coluna em dispositivos móveis */
        margin-top: 1rem;            /* Adiciona uma margem superior aos itens do menu */
    }
    .menu-items button {
        height: 5px;                 /* Define a altura dos botões do menu em dispositivos móveis */
    }
    nav ul li {
        margin-left: 0;              /* Remove a margem esquerda dos itens da lista do menu */
        margin-top: 0.5rem;          /* Adiciona uma margem superior aos itens da lista do menu */
    }
    .menu-icon {
        display: block;              /* Exibe o ícone do menu em dispositivos móveis */
        cursor: pointer;            /* Define o cursor como ponteiro ao passar sobre o ícone do menu */
    }
    .menu-icon::before {
        content: "\2630";            /* Define o conteúdo do ícone do menu como um símbolo de menu (três linhas horizontais) */
        font-size: 1.5rem;           /* Define o tamanho da fonte do ícone do menu */
    }
    .menu-items {
        display: none;               /* Oculta os itens do menu por padrão em dispositivos móveis */
    }
    .menu-items.show {
        display: flex;               /* Exibe os itens do menu quando a classe "show" é adicionada */
        flex-direction: column;      /* Organiza os itens do menu em uma coluna */
        align-items: flex-end;       /* Alinha os itens do menu ao final (direita) */
    }
}
