{% extends 'template_base.html' %}

    {% block style %}
    <link rel="stylesheet" href="static/style/base.css">
    {% endblock %}

    {% block section %}
        <section class="section_ajuda">
            <div id="box_voltar">
                <a href="{{ url_for('index' ) }}"><button id="bt_voltar">Voltar</button></a>
            </div>
            <br>
            <div class="box_ajuda">
                <form class="form_ajuda" action="">
                    <h4>Nome:</h4>
                    <input id="input_ajuda" type="text" name="nome" placeholder="Insira seu nome">
                    <h4>Email:</h4>
                    <input id="input_ajuda" type="email" name="email" placeholder="Insira um email válido">
                    <h4>Mensagem:</h4>
                    <input id="mensagem_ajuda" type="text" name="mensagem" placeholder="Insira sua mensagem">
                    <button id="enviar_ajuda">Enviar</button> 
                </form>
                <img src="../static/imgs/img_ajuda2.png" alt="">
            </div>
        </section>
    {% endblock %}