{% extends 'template_base.html' %}
    {% block style %}
        <link rel="stylesheet" href="static/style/base.css">
    {% endblock %}
    {% block conteudo %}
            <section id="section_login">
                <div class="login-cadastro">
                    <div id="box1_login">
                        <img src="static/imgs/Mental.jpg" alt="">
                    </div>
                    <div id="box2_login">
                        <h1>Cadastro</h1>
                        <div class="form_login">
                            <form id="login" action="{{url_for('Cadastro')}}" method="post">
                                <input id="input_login" type="email" name="email" id="emailId" placeholder="Email ou número de telefone">
                                <input id="input_login" type="password" name="senha" id="senhaId" placeholder="Senha">
                                {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        <p>{{messages[0]}}</p>
                                    {% endif %}
                                {% endwith %}
                                <input id="entrar_login" type="submit" value="Entrar">
                            </form>
                            <div class="lembrar">
                                <input type="checkbox" id="checkId">
                                <label for="checkId">Lembrar senha</label>
                            </div>
                            <div class="cadastrar">
                                <h4>Já tem conta?</h4>
                                <a id="link-cadastro" href="{{url_for('Login')}}">Login</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
            <footer>
            </footer>
    {% endblock %}
