{% extends 'template_base.html' %}
    {% block style %}
        <link rel="stylesheet" href="static/style/base.css">
    {% endblock %}
    {% block section %}
            <div id="section_login">
                <div id="box_voltar">
                    <a href="{{ url_for('index' ) }}"><button id="bt_voltar">Voltar</button></a>
                </div>
                <div class="login-cadastro">
                    <img src="../static/imgs/img_ajuda.png" alt="">
                    <div id="box2_login">
                        <h1>Cadastro</h1>
                        <div class="form_login">
                            <form id="login" action="{{url_for('Cadastro')}}" method="post">
                                <input id="input_login" type="text" name="nome" placeholder="Nome">
                                <input id="input_login" type="email" name="email" id="emailId" placeholder="Email">
                                <input id="input_login" type="password" name="senha" id="senhaId" placeholder="Senha">
                                {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        <p style="color: red;">{{messages[0]}}</p>
                                    {% endif %}
                                {% endwith %}
                                <input id="entrar_login" type="submit" value="Enviar">
                            </form>
                            <div class="cadastrar">
                                <h4>Já possui uma conta?</h4>
                                <a id="link-cadastro" href="{{url_for('Login')}}" style="margin-left: 43%;">Login</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
    {% endblock %}
