{% extends 'template_base.html' %}
    {% block style %}
        <link rel="stylesheet" href="static/style/base.css">
    {% endblock %}

    {% block section %}
        <div id="section_fases">
            <div id="box_voltar_fases">
                <a href="{{ url_for('Trilha' ) }}"><button id="bt_voltar">Voltar</button></a>
            </div>
        
            <br>
            {% if msg_trofeu %}
            <div class="message_resp_trofeu msg_tf_trilha">{{ msg_trofeu }}</div>
            {% elif msg_resp %}
            <div class="message_resp">{{ msg_resp }}</div>
            {% endif %}
    
            <div class="box_conteudo_fases">

                {% if trofeu: %}
            
                <div id="box_trofeu">
                    <div id="div_inicial_jg">
                        <h1 id="titulo-jogo">TRILHA DA RAPOSA</h1>
                    </div>
                    <div id="div_img_trofeu">
                        <img src= "{{ trofeu }}" alt="">
                    </div>
                </div>
                {% endif %}

    

                <div id="box_inicial_jg_trilha">
                    <div id="div_inicial_jg">
                        <h1 id="titulo-jogo">TRILHA DA RAPOSA</h1>
                    </div>
                    <div id="quad1_jogo_trilha">
                        <div id="fases_trilha">
                            <form class="forms_fases_trilha" action="{{url_for('Questoes_trilha')}}" method="get">
                                <input class="button_fases_trilha t1" name="fase" value="1" type="submit">
                                <input class="button_fases_trilha t2" name="fase" value="2" type="submit">
                                <input class="button_fases_trilha t3" name="fase" value="3" type="submit">
                                <input class="button_fases_trilha t4" name="fase" value="4" type="submit">
                                <input class="button_fases_trilha t5" name="fase" value="5" type="submit">
                                <input class="button_fases_trilha t6" name="fase" value="6" type="submit">
                                <input class="button_fases_trilha t7" name="fase" value="7" type="submit">
                                <input class="button_fases_trilha t8" name="fase" value="8" type="submit">
                                <input class="button_fases_trilha t9" name="fase" value="9" type="submit">
                            </form>
                            <img src="/static/imgs/avatar-perfil.jpg" class="img_fase_trilha" id="img_trilha_raposa" alt="Imagem da raposinha">
                        </div>
                    </div>
                </div>
            </div>


        </div>

    {% endblock %}

    {% block js %}
        <script src="static/scripts/fases_trilha.js"></script>
        <script>
            // Função para mostrar a div e depois o conteúdo
            function mostrarDiv() {
                let trofeu = '{{trofeu}}'
                const div = document.getElementById('box_trofeu');
                const conteudo = document.getElementById('box_inicial_jg_trilha');
                if (trofeu){
                    conteudo.style.display = 'none';
                    div.style.display = 'flex'; // Mostra a div
                }else{
                    conteudo.style.display = 'flex'
                }
                
        
                // Esconde a div após 5 segundos e mostra o conteúdo
                setTimeout(() => {
                    div.style.display = 'none'; // Esconde a div
                    conteudo.style.display = 'flex'; // Mostra o conteúdo
                }, 3000);
            }
        
            // Chama a função para mostrar a div após o carregamento da página
            window.onload = mostrarDiv;


            setTimeout(() => {
            const message = document.querySelector('.message_resp');
            if (message) {
                message.style.display = 'none';
            }
        }, 5000);

        var faseAtual = parseInt('{{fase}}', 10);
        console.log(faseAtual)

        // Mova a imagem com base na fase atual
        const imagem = document.querySelector('.img_fase_trilha');
        const posicoes = [
            { top: '50%', left: '6%' },
            { top: '45%', left: '16%' },
            { top: '33%', left: '24%' },
            { top: '27%', left: '33%' },
            { top: '33%', left: '44%' },
            { top: '45%', left: '53%' },
            { top: '50%', left: '63%' },
            { top: '45%', left: '73%' },
            { top: '33%', left: '84%' },
        ];
        
        imagem.style.top = posicoes[faseAtual-1].top;
        imagem.style.left = posicoes[faseAtual-1].left;

        const img = document.getElementById('img_trilha_raposa');
        const deslocamento = 12; // Deslocamento em pixels
        let animacaoAtiva = false;

        setInterval(() => {
            if (!animacaoAtiva) {
                animacaoAtiva = true;

                // Mover para cima
                img.style.top = `${parseFloat(posicoes[faseAtual - 1].top) - (deslocamento / window.innerHeight * 100)}%`;

                setTimeout(() => {
                    // Volta para a posição inicial
                    img.style.top = posicoes[faseAtual - 1].top;
                    animacaoAtiva = false;

                }, 500); // Tempo para voltar
            }
        }, 2000); // Intervalo de 2 segundos


        // Pega as informações do localStorage
        let Color = localStorage.getItem('selectedColor') || '#00AEEF';
        let Avatar = localStorage.getItem('selectedAvatar') || '🐶'; // Avatar padrão
        // Função para carregar a seleção salva ao iniciar a página
        function carregarSelecoes() {
            const perfilAvatar = document.getElementById('perfilAvatar');

            perfilAvatar.textContent = Avatar; // Atualiza o avatar do perfil
            perfilAvatar.style.backgroundColor = Color; // Atualiza a cor do fundo
        }

        // Chame a função ao carregar a página
        window.onload = carregarSelecoes;

        </script>
    {% endblock %}