{% extends 'template_base.html' %}
    {% block style %}
        <link rel="stylesheet" href="static/style/fases.css">
    {% endblock %}

    {% block conteudo %}
        <section id="section_fases">
            <div class="fases">
                <a class="button_fases" href="{{url_for('Quiz')}}">1</a>
                <a class="button_fases" href="">2</a>
                <a class="button_fases" href="">3</a>
                <a class="button_fases" href="">4</a>
                <a class="button_fases" href="">5</a>
                <a class="button_fases" href="">6</a>
                <a class="button_fases" href="">7</a>
                <a class="button_fases" href="">8</a>
                <a class="button_fases" href="">9</a>
            </div>
            
        </section>
        <footer></footer>
    </div>


    {% endblock %}