{% extends 'template_base.html' %}
    {% block style %}
        <link rel="stylesheet" href="static/style/base.css">
    {% endblock %}

    {% block conteudo %}
    <section id="section_fases">
        <form class="fases" action="{{url_for('Jogo_qcbc')}}" method="get">
            <input class="button_fases" name="fase"  value="1" type="submit">
            <input class="button_fases" name="fase"  value="2" type="submit">
            <input class="button_fases" name="fase"  value="3" type="submit">
            <input class="button_fases" name="fase"  value="4" type="submit">
            <input class="button_fases" name="fase"  value="5" type="submit">
            <input class="button_fases" name="fase"  value="6" type="submit">
            <input class="button_fases" name="fase"  value="7" type="submit">
            <input class="button_fases" name="fase"  value="8" type="submit">
            <input class="button_fases" name="fase"  value="9" type="submit">
        </form>
        
    </section>

    {% endblock %}
