{% extends 'template_base.html' %}
    {% block style %}
        <link rel="stylesheet" href="static/style/base.css">
    {% endblock %}

    {% block section %}
        <div id="section_inicial_jg">
            <!-- <div id="box_voltar_fases">
                <a href="{{ url_for('Trilha' ) }}"><button id="bt_voltar">Voltar</button></a>
            </div> -->
        
            <br>
            {% if msg_trofeu %}
            <div class="message_resp_trofeu msg_tf_trilha">{{ msg_trofeu }}</div>
            {% elif msg_resp %}
            <div class="message_resp">{{ msg_resp }}</div>
            {% endif %}
    
            <div class="box_conteudo_fases">

                 
               {% if concluido %}
                    <div id="box_concluido">
                        <div id="div_inicial_jg">
                            <h1 id="titulo-jogo">TRILHA DA RAPOSA</h1>
                        </div>
                        <div id="div_concluido">
                            <h4 id="mensagem_concluido">Parabéns, você concluiu a trilha!</h4>
                            <a href="{{ url_for('Trilha_reiniciar') }}">
                                <button id="botao-concluido">Reiniciar a Trilha</button>
                            </a>
                            <a href="{{ url_for('index') }}">
                                <button id="botao-concluido">Voltar para a Página Inicial</button>
                            </a>
                        </div>
                    </div>
                {% endif %}

                <div class="box_inicial_jg">
                    <div id="div_inicial_jg">
                        <h1 id="titulo-jogo">TRILHA DA RAPOSA</h1>
                    </div>
                    <div id="quad1_jogo_trilha">
                        <div id="fases_trilha">
                            <form class="forms_fases_trilha" action="{{url_for('Questoes_trilha')}}" method="get">
                                <input class="button_fases_trilha t1" name="fase" value="1" type="submit">
                                <input class="button_fases_trilha t2" name="fase" value="2" type="submit">
                                <input class="button_fases_trilha t3" name="fase" value="3" type="submit">
                                <input class="button_fases_trilha t4" name="fase" value="4" type="submit">
                                <input class="button_fases_trilha t5" name="fase" value="5" type="submit">
                                <input class="button_fases_trilha t6" name="fase" value="6" type="submit">
                                <input class="button_fases_trilha t7" name="fase" value="7" type="submit">
                                <input class="button_fases_trilha t8" name="fase" value="8" type="submit">
                                <input class="button_fases_trilha t9" name="fase" value="9" type="submit">
                            </form>
                            <img src="/static/imgs/raposa_trilha.png" class="img_fase_trilha" id="img_trilha_raposa" alt="Imagem da raposinha">
                        </div>
                    </div>
                </div>            
            </div>


        </div>

    {% endblock %}

    {% block js %}
        <script src="static/scripts/fases_trilha.js"></script>
        <script>
            
            // Função para mostrar a div e depois o conteúdo
           function mostrarDiv() {
                const concluido = '{{ concluido }}' === 'True';

                console.log('concluido '+concluido)
                const div = document.getElementById('box_concluido');
                const conteudo = document.querySelector('.box_inicial_jg');
                if (concluido) {
                    conteudo.style.display = 'none';
                    div.style.display = 'flex'; // Mostra a div
                } else {
                    conteudo.style.display = 'flex';
                }
            }
        
            // Chama a função para mostrar a div após o carregamento da página
            window.onload = mostrarDiv;


            setTimeout(() => {
            const message = document.querySelector('.message_resp');
            if (message) {
                message.style.display = 'none';
            }
            }, 5000);

            var faseAtual = parseInt('{{fase}}', 10);
            console.log(faseAtual)

            // Mova a imagem com base na fase atual
            const imagem = document.querySelector('.img_fase_trilha');
            const posicoes = [
                { top: '50%', left: '6%' },
                { top: '45%', left: '16%' },
                { top: '33%', left: '24%' },
                { top: '27%', left: '33%' },
                { top: '33%', left: '44%' },
                { top: '45%', left: '53%' },
                { top: '50%', left: '63%' },
                { top: '45%', left: '73%' },
                { top: '33%', left: '84%' },
            ];
            
            imagem.style.top = posicoes[faseAtual-1].top;
            imagem.style.left = posicoes[faseAtual-1].left;


            // Pega as informações do localStorage
            let Color = localStorage.getItem('selectedColor') || '#00AEEF';
            let Avatar = localStorage.getItem('selectedAvatar') || '🐶'; // Avatar padrão
            // Função para carregar a seleção salva ao iniciar a página
            function carregarSelecoes() {
                const perfilAvatar = document.getElementById('perfilAvatar');

                perfilAvatar.textContent = Avatar; // Atualiza o avatar do perfil
                perfilAvatar.style.backgroundColor = Color; // Atualiza a cor do fundo
            }

            // Chame a função ao carregar a página
            window.onload = carregarSelecoes;

        </script>
    {% endblock %}