{% extends 'template_base.html' %}
    {% block style %}
        <link rel="stylesheet" href="static/style/base.css">
    {% endblock %}

    {% block section %}
        <div id="section_fases">
            <div id="box_voltar_fases">
                <a href="{{ url_for('Inicial_quiz') }}"><button id="bt_voltar">Voltar</button></a>
            </div>
            {% if messagem %}
            <h2>{{ messagem }}</h2>
            {% else %}
             <h2>Fases do Quiz Matemático</h2>
             <p>Ganhe um troféu a cada 3 fases respondida corretamente.</p>
            {% endif %}
            <form class="fases" action="{{ url_for('Quiz') }}" method="get">
                {% for fase in fases_info %}
                {% set classe_extra = 'fase_' ~ fase.status %}
                <button class="button_fases_quiz {{ classe_extra }}" name="fase" value="{{ fase.numero }}" type="submit" {% if fase.status == 'bloqueada' %} disabled {% endif %}>
                    <div class="fase-card completa">
                        <div class="header">
                            <h3>Fase {{ fase.numero }}</h3>
                            <span class="status">
                                {% if fase.status == 'concluida' %}
                                    Concluída <span class="checkmark">✔</span>
                                {% elif fase.status == 'bloqueada' %}
                                    Bloqueada 🔒
                                {% else %}
                                    Andamento..
                                {% endif %}
                            </span>
                        </div>
                        <p class="descricao">{{ fase.descricao }}</p>
                    </div>
                </button>
                {% endfor %}
            </form>



        </div>

    {% endblock %}
    {% block js %}
        <script src="static/scripts/fases_quiz.js"></script>
        <script>
            // Pega as informações do localStorage
            let Color = localStorage.getItem('selectedColor') || '#00AEEF';
            let Avatar = localStorage.getItem('selectedAvatar') || '🐶'; // Avatar padrão
            // Função para carregar a seleção salva ao iniciar a página
            function carregarSelecoes() {
                const perfilAvatar = document.getElementById('perfilAvatar');

                perfilAvatar.textContent = Avatar; // Atualiza o avatar do perfil
                perfilAvatar.style.backgroundColor = Color; // Atualiza a cor do fundo
            }

            // Chame a função ao carregar a página
            window.onload = carregarSelecoes;

        </script>
        
    {% endblock %}
