{% extends 'template_base.html' %}

    {% block style %}
    <link rel="stylesheet" href="static/style/base.css">
    {% endblock %}

    {% block aside %}
        <div class="aside_inicial" id="hero">
            <div class="hero-content">
                <h1>Aprenda Matemática Brincando</h1>
                <p>Explore jogos interativos que tornam a matemática divertida.</p>
                <button class="cta-button" onclick="scrollToSection()">Comece Agora</button>
            </div>
        </div>

    {% endblock %}

    {% block section %}
        <div id="section_inicial">
            <div class="jogos">
                <!-- Trilha -->
                <div id="trilha">
                    <h2>Trilha da raposa</h2>
                    <a href="{{url_for('Trilha')}}">
                        <img src="../static/imgs/jogo-trilha.svg" alt="">
                    </a>
                    <div id="box-texto">
                        <h4>Trilha: Ajude Nikki a chegar nas galinhas.</h4>
                    </div>
                </div>

                <!-- Quebra-cabeça -->
                <div id="quebra-cabeca">
                    <h2>Quebra-cabeça</h2>
                    <a href="{{url_for('Quebra_cabeca')}}">
                        <img src="../static/imgs/jogo-quebra-c.svg" alt="">
                    </a>
                    <div id="box-texto">
                        <h4>Resolva problemas para desbloquear imagens</h4>
                    </div>
                </div>

                <!-- Quiz -->
                <div id="quiz">
                    <h2>Quiz matemático</h2>
                    <a href="{{url_for('Inicial_quiz')}}">
                        <img src="../static/imgs/jogo-quiz.svg" alt="">
                    </a>
                    <div id="box-texto">
                        <h4>Responda o máximo de questões corretamente.</h4>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}