{% extends 'template_base.html' %}

    {% block style %}
    <link rel="stylesheet" href="static/style/base.css">
    {% endblock %}

    {% block aside %}
        <div class="aside_inicial" id="hero">
            <div class="carrossel-container">
                <button class="botao esquerda" onclick="moverCarrossel(-1)">&#10094;</button>

                <div class="slides" id="carrosselSlides">
                    <div class="slide"><img src="{{ url_for('static', filename='imgs/img_aside_inicial2.png') }}" alt="Info 1"></div>
                    <div class="slide"><img src="{{ url_for('static', filename='imgs/imgTrilha_aside_inicial2.png') }}" alt="Info 2"></div>
                </div>

                <button class="botao direita" onclick="moverCarrossel(1)">&#10095;</button>
            </div>



            <!-- <div class="hero-content">
                <h1>Aprenda Matemática Brincando</h1>
                <p>Explore jogos interativos que tornam a matemática divertida.</p>
            </div> -->
        </div>

    {% endblock %}

    {% block section %}
        <div id="section_inicial">
            <div class="jogos">
                <!-- Trilha -->
                <div id="trilha">
                    <h2>Trilha da raposa</h2>
                    <a href="{{url_for('Trilha')}}">
                        <img src="../static/imgs/jogo-trilha.png" alt="">
                    </a>
                    <div id="box-texto">
                        <h4>Encontre o valor das frutas para ajudar Nikki a chegar nas galinhas.</h4>
                    </div>
                </div>

                <!-- Quebra-cabeça -->
                <div id="quebra-cabeca">
                    <h2>Quebra-cabeça</h2>
                    <a href="{{url_for('Quebra_cabeca')}}">
                        <img src="../static/imgs/jogo-quebra-cabeca.png" alt="">
                    </a>
                    <div id="box-texto">
                        <h4>Resolva problemas para desbloquear imagens</h4>
                    </div>
                </div>

                <!-- Quiz -->
                <div id="quiz">
                    <h2>Quiz matemático</h2>
                    <a href="{{url_for('Inicial_quiz')}}">
                        <img src="../static/imgs/jogo-quiz.png" alt="">
                    </a>
                    <div id="box-texto">
                        <h4>Responda o máximo de questões corretamente.</h4>
                    </div>
                </div>
            </div>
            <button id="btn-topo" onclick="voltarAoTopo()" title="Voltar ao topo">↑</button>
        </div>
    {% endblock %}
