{% extends 'template_base.html' %}
    {% block style %}
    <link rel="stylesheet" href="../static/style/base.css">
    {% endblock %}

    {% block conteudo %}
    <!-- Seção principal do conteúdo -->
        <section id="section_inicial_jg">
            <div>
                <!-- Caixa principal de conteúdo -->
                <div class="box_inicial_jg">
                    <!-- Div para o quiz -->
                    <div id="div_inicial_jg">
                        <h1 id="titulo-jogo">QUEBRA-CABEÇA</h1> <!-- Título do quiz -->
                    </div>
                    <!-- Primeira caixa de conteúdo do quiz -->
                    <div id="quad1_inicial_cbc">
                        <div id="play-jogo">
                            <a id="jogar" href="{{url_for('Fases_qcbc')}}"></a>
                        </div>
                    </div>
                    <div id="quad2_inicial_jg">
                        <div class="descricao_inicial_jg">
                            <div>
                                <h4 id="desc_text">Resolva problemas matemáticos para montar o quebra-cabeça.</h4>
                                <ul>
                                    <li><p>Responda corretamente as questões para desbloquear cada peça do quebra-cabeça.</p></li>
                                    <li><p>você ganhará pontos por cada quebra-cabeça montado.</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </section>

    {% endblock %}
