{% extends 'template_base.html' %}
    {% block style %}
    <link rel="stylesheet" href="static/style/base.css">
    {% endblock %}

    {% block conteudo %}
  
        <section id="section_inicial_jg">
            <div>
                <div class="box_inicial_jg">
                    <div id="div_inicial_jg">
                        <h1 id="titulo-jogo">QUIZ MATEMÁTICO</h1>
                    </div>
                    <div id="quad1_inicial_quiz">
                        <div id="play-jogo">
                            <a id="jogar" href="{{url_for('Fases_quiz')}}"></a>
                        </div>
                    </div>
                    <div id="quad2_inicial_jg">
                        <div class="descricao_inicial_jg">
                            <div>
                                <h4 id="desc_text">Responda corretamente o máximo de questões que conseguir para ganhar pontos.</h4>
                                <ul>
                                    <li><p>Cuidado com o tempo; Este jogo terá um cronometro marcando o seu tempo em cada questão.</p></li>
                                    <li><p>Avalie seu conhecimento.</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </section>
    </div>
    {% endblock %}
