<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="static/style/inicial.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <div id="logo1">
                    <img src="static/imgs/logo.png" alt="">
                </div>
                <div id="logo2">
                    <img src="static/imgs/1.png" alt="">
                </div>
            </div>
            <nav class="botoes">
                <div class="menu-icon"></div>
                <div class="menu-items">
                    <button id="home"><a class="links" href="{{url_for('Index')}}">Home</a></button>
                    <button id="jogos">Jogos</button>
                    <button id="sobre">Sobre</button>
                    <button id="ajuda">Ajuda</button>
                    <button id="botao-login"><a class="links" href="{{url_for('Login')}}">Login</a></button>
                </div>
            </nav>
                
            <div class="perfil">
                <img src="static/imgs/avatar-perfil.jpg" alt="">
            </div>
        </header>
        <aside>
            
        </aside>
        <section>
           <div class="jogos">
                <div id="trilha">
                    <h2>Trilha da raposa</h2>
                    <img class="imagens" src="static/imgs/jogo-trilha.png" alt="">
                    <h4>Trilha: Ajude Nikki a chegar nas suas amigas galinhas.</h4>
                </div>
                <div id="quebra-cabeca">
                    <h2>Quebra-cabeça</h2>
                    <img class="imagens" src="static/imgs/jogo-quebra-c.png" alt="">
                    <h4>Quebra-Cabeça: Resolva problemas matemáticos para desbloquear imagens</h4>
                </div>
                <div id="quiz">
                    <h2>Quiz matemático</h2>
                    <a href="{{url_for('Inicial_quiz')}}">
                        <img class="imagens" src="static/imgs/jogo-quiz.png" alt="">
                    </a>
                    
                    <h4>Quiz matemático: Responda o máximo de questões corretamente.</h4>
                </div>
            </div>
        </section>
        <footer>
        </footer>
    </div>


    <script>
        var header = document.querySelector('header');
        const menuIcon = document.querySelector('.menu-icon');
        const menuItems = document.querySelector('.menu-items');
        var header_tam = '12%';
        menuIcon.addEventListener('click', () => {
          menuItems.classList.toggle('show');
          
          if (header_tam === '45%'){
            header_tam = '12%';
            header.style.height = header_tam
          }
          else{
            header_tam = '45%';
            header.style.height = header_tam
          };
        });
    </script>
</body>
</html>
