<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicial quiz</title>
    <link rel="stylesheet" href="static/style/inicial_quiz.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <div id="logo1">
                    <img src="static/imgs/logo.png" alt="">
                </div>
                <div id="logo2">
                    <img src="static/imgs/1.png" alt="">
                </div>
            </div>

            <nav class="botoes">
                <div class="menu-icon"></div>
                <div class="menu-items">
                    <button id="home"><a class="links" href="{{url_for('Index')}}">Home</a></button>
                    <button id="jogos">Jogos</button>
                    <button id="sobre">Sobre</button>
                    <button id="ajuda">Ajuda</button>
                    <button id="botao-login"><a class="links" href="{{url_for('Login')}}">Login</a></button>
                </div>
            </nav>
            <div class="perfil">
                <img src="static/imgs/avatar-perfil.jpg" alt="">
            </div>
        </header>
        <section>
            <div>
                <div class="box">
                    <div id="div_quiz">
                        <h1 id="titulo-jogo">QUIZ MATEMÁTICO</h1>
                    </div>
                    <div id="quad1">
                        <div id="play-jogo">
                            <a id="jogar" href="{{url_for('Fases')}}"></a>
                        </div>
                    </div>
                    <div id="quad2">
                        <div class="descricao">
                            <div>
                                <h4 id="desc_text">Responda corretamente o máximo de questões que conseguir para ganhar pontos.</h4>
                                <ul>
                                    <li><p>Cuidado com o tempo; Este jogo terá um cronometro marcando o seu tempo em cada questão.</p></li>
                                    <li><p>Avalie seu conhecimento.</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </section>
    </div>


    <script>
        var header = document.querySelector('header');
        const menuIcon = document.querySelector('.menu-icon');
        const menuItems = document.querySelector('.menu-items');
        var header_tam = '12%';
        menuIcon.addEventListener('click', () => {
          menuItems.classList.toggle('show');
          
          if (header_tam === '45%'){
            header_tam = '12%';
            header.style.height = header_tam
          }
          else{
            header_tam = '45%';
            header.style.height = header_tam
          };
        });
    </script>
</body>
</html>