{% extends 'template_base.html' %}

    {% block style %}
    <link rel="stylesheet" href="static/style/base.css">
    {% endblock %}

    {% block section %}
        <!-- Seção principal do conteúdo -->
        <div id="section_inicial_jg">
            <div id="box_voltar">
                <a href="{{ url_for('Fases_trilha' ) }}"><button id="bt_voltar">Voltar</button></a>
            </div>
            <div class="box_inicial_jg">
                <!-- Div para o quiz -->

                <div id="div_inicial_jg">
                    <h1 id="titulo-jogo">TRILHA DA RAPOSA </h1> <!-- Título do quiz -->
                </div>

                <!-- Primeira caixa de conteúdo do quiz -->
                <div id="quad1_trilha">
                    <div id="pergunta_trilha"> <!--imagem da pergunta-->
                        <div class="questao_trilha">
                            <form method="post" action="{{ url_for('Questoes_trilha') }}">
                                <input type="number" name="resp_trilha" id="resp_trilha" required>
                                <input class="bt_enviar_trilha" type="submit" name="resposta" value="Enviar">
                            </form>
                        </div>
                    </div>

                </div>

                
            </div>
        </div>
    </div>

    <script>
        // Pensar em outro jeito de pegar o valor pelo jinja sem erros
        var questao = {{ questao | tojson }};  
        
        function fn_questao(questao) {
            var div = document.getElementById("pergunta_trilha");
    
            // Define a imagem de fundo usando a URL da questão
            div.style.backgroundImage = `url(${questao})`;
        }
    
        // Chama a função com a questão recebida
        fn_questao(questao);
    
        console.log(questao);

 
        // Pega as informações do localStorage
        let Color = localStorage.getItem('selectedColor') || '#00AEEF';
        let Avatar = localStorage.getItem('selectedAvatar') || '🐶'; // Avatar padrão
        // Função para carregar a seleção salva ao iniciar a página
        function carregarSelecoes() {
            const perfilAvatar = document.getElementById('perfilAvatar');

            perfilAvatar.textContent = Avatar; // Atualiza o avatar do perfil
            perfilAvatar.style.backgroundColor = Color; // Atualiza a cor do fundo
        }

        // Chame a função ao carregar a página
        window.onload = carregarSelecoes;

    </script>



    {% endblock %}
