{% extends 'template_base.html' %}

    {% block style %}
    <link rel="stylesheet" href="static/style/base.css">
    {% endblock %}

    {% block conteudo %}
        <!-- Seção principal do conteúdo -->
        <section id="section_inicial_jg">
            <div id="box_voltar">
                <button id="bt_voltar" onclick="window.history.back()">Voltar</button>
            </div>
            <div>
                <!-- Caixa principal de conteúdo -->
                <div class="box_inicial_jg">
                    <!-- Div para o quiz -->
                    <div id="div_inicial_jg">
                        <h1 id="titulo-jogo">QUEBRA-CABEÇA</h1> <!-- Título do quiz -->
                    </div>
                    <!-- Primeira caixa de conteúdo do quiz -->
                    <div id="quad1_qcbc">
                        <form class="quest_qcbc" action="{{url_for('Questoes_qcbc')}}" method="get"> <!-- form é sempre method=POST -->
                            {% for i in range(9)%}
                                <input class="button_quest bt-{{fase}}-{{i}}" name="questao" value="{{i}}" type="submit" id="bt-{{fase}}-{{i}}">
                            {% endfor %}
                        </form>
                    </div>
                    <div id="quad2_inicial_jg">
                        <div class="descricao_inicial_jg">
                            <div>
                                <h4 id="desc_text">Resolva problemas matemáticos para montar o quebra-cabeça.</h4>
                                <ul>
                                    <li><p>Responda corretamente as questões para desbloquear cada peça do quebra-cabeça.</p></li>
                                    <li><p>Você ganhará pontos por cada quebra-cabeça montado.</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </section>
    {% endblock %}
    {% block js %}
    <script>
        let cookie_tabuleiro = getCookie('tabuleiro');
        var tabuleiro = {}
        if (cookie_tabuleiro == "") {
            // O cookie do tabuleiro ainda não existe
            // Cria um novo tabuleiro
            for (i=1; i<=9; i++) {
                tabuleiro[i] = []
                for (j=0; j<9; j++) {
                    tabuleiro[i].push({
                        "img": "{{ url_for('static', filename='imgs/1.png') }}",
                        "bloqueado": true
                    })
                }
            }
            // Cria o cookie
            setCookie('tabuleiro', JSON.stringify(tabuleiro), 1000)
        }


        tabuleiro = JSON.parse(getCookie('tabuleiro'))

        var questao_atual = parseInt('{{questao_atual}}')
        var resposta = '{{resposta}}'
        var fase = parseInt('{{fase}}')

        if (resposta === 'True'){
            desbloquearImagem(fase, questao_atual, tabuleiro)
        }

        atualizarQuebraCabeca(fase, tabuleiro)

        function desbloquearImagem(fase, questao_atual, tabuleiro) {
            tabuleiro[fase][questao_atual]['bloqueado'] = false;
            setCookie('tabuleiro', JSON.stringify(tabuleiro), 1000)
        }

        function atualizarQuebraCabeca(fase, tabuleiro) {
            for (i = 0; i < tabuleiro[fase].length; i++) {
                var quadrado = tabuleiro[fase][i];
                if (!tabuleiro[fase][i]['bloqueado']){
                    var id_input = `bt-${fase}-${i}`;
                    var input = document.getElementById(id_input);
                    input.style.backgroundImage = `url('${quadrado['img']}')`;
                }
            }
        }

        /* Atribui um cookie. */
        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            let expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        /* Acessa um cookie. */
        function getCookie(cname) {
            let name = cname + "=";
            let ca = document.cookie.split(';');
            for(let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
             
        // Seleciona os elementos
        const jogosButton = document.getElementById('jogos');
        const botoesJogos = document.querySelector('.botoes-jogos');

        // Variável para rastrear o estado de visibilidade
        let isVisible = false;

        // Adiciona um event listener para o clique
        jogosButton.addEventListener('click', () => {
            isVisible = !isVisible; // Alterna o estado de visibilidade
            botoesJogos.style.display = isVisible ? 'flex' : 'none'; // Mostra ou esconde os botões
        });
        
        
        
        
    </script>
    {% endblock %}
