{% extends 'template_base.html' %}

    {% block style %}
    <link rel="stylesheet" href="static/style/base.css">
    {% endblock %}

    {% block section %}
        <div id="section_login">
            <div id="box_voltar">
                <a href="{{ url_for('index') }}"><button id="bt_voltar">Voltar</button></a>
            </div>
            <div class="login-cadastro">
                <div id="box1_login">
                    <img src="../static/imgs/login.png" alt="">
                </div>
                <div id="box2_login">
                    <h1>Login</h1>
                    <div class="form_login">
                        <form id="login" action="{{url_for('Login')}}" method="post">
                            <input id="input_login" type="email" name="email" id="emailId" placeholder="Email" required>
                            <input id="input_login" type="password" name="senha" id="senhaId" placeholder="Senha" required>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <p style="color: red;" >{{messages[0]}}</p>
                                {% endif %}
                            {% endwith %}
                            <input id="entrar_login" type="submit" value="Entrar">
                        </form>
                        <div class="lembrar">
                            <input type="checkbox" id="checkId">
                            <label for="checkId">Lembrar senha</label>
                        </div>
                        <div class="cadastrar">
                            <h4>Ainda não tem uma conta?</h4>
                            <a id="link-cadastro" href="{{url_for('Cadastro')}}">Cadastre-se</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    
{% endblock %}
