<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FunMath</title>
    
    <link rel="stylesheet" href="static/style/base.css">

    {% block style %}

    {% endblock %}
</head>
<body>
    <!-- Contêiner principal que envolve todo o conteúdo da página -->
    <div class="container">
        <!-- Cabeçalho da página -->
        <header>
            <!-- Div para a logo -->
            <div class="logo">
                <div id="logo1">
                    <img src="static/imgs/logo_raposa.png" alt=""> <!-- Imagem da raposa -->
                </div>
                <div id="logo2">
                    <img src="static/imgs/1.png" alt=""> <!-- Imagem do nome do site -->
                </div>
            </div>
            <!-- botões -->
            <nav class="botoes">
                <!-- Ícone do menu (para uma versão de celular) -->
                <div class="menu-icon"></div>
                <!-- Itens de navegação do menu -->
                <div class="menu-items">
                    <!-- Botão para a página inicial -->
                        <a class="links"  href="{{url_for('Index')}}">
                            <button class="links-button" id="bt_home">Home</button>
                        </a> <!-- Link para a página inicial -->
                    
                    <!-- Botão para a seção de jogos -->
                        <div class="botao-jogo">
                            <button class="links-button" id="jogos">Jogos</button>

                            
                            <div class="botoes-jogos"  style="display: none;">
                                <a href="{{ url_for('Trilha') }}">
                                    <button id="botoes-jogos" class="bt_jogo">Trilha</button>
                                </a>
                                <a href="{{ url_for('Quebra_cabeca') }}">
                                    <button id="botoes-jogos" class="bt_jogo">Quebra-Cabeça</button>
                                </a>
                                <a href="{{ url_for('Inicial_quiz') }}">
                                    <button id="botoes-jogos" class="bt_jogo">Quiz</button>
                                </a>
                                
                            </div>
                        </div>
                            
                    <!-- Botão para a seção sobre -->
                    
                        <a class="links"  href="{{url_for('Sobre')}}">
                            <button class="links-button" id="bt_sobre">Sobre</button>
                        </a>
                    <!-- Botão para a seção de ajuda -->
                    
                        <a class="links"  href="{{url_for('Ajuda')}}">
                            <button class="links-button" id="bt_ajuda">Ajuda</button>
                        </a>

                        <a class="links"  href="{{url_for('Login')}}">
                            <button class="links-button" id="bt_login">Login</button>
                        </a>

                        <!-- Seção de perfil com a imagem de perfil -->
                        <a href="{{url_for('Perfil')}}" class="perfil">
                            <img src="static/imgs/avatar-perfil.jpg" alt=""> <!-- Imagem de perfil do usuário -->
                        </a>
                </div>
            </nav>
            
        </header>
        
        <!-- Bloco que irá mostrar o conteudo das paginas! < Herança de Templates > -->
        {% block conteudo %}
        {% endblock %}
        
        <!-- Script JavaScript para interatividade do cabeçalho -->
        {% block js %}
        <script>
            // Seleciona o elemento do cabeçalho
            var header = document.querySelector('header');
            // Seleciona o ícone do menu e os itens do menu
            const menuIcon = document.querySelector('.menu-icon');
            const menuItems = document.querySelector('.menu-items');
            // Define a altura inicial do cabeçalho
            var header_tam = '12%';
            // Adiciona um ouvinte de evento ao ícone do menu para alternar a visibilidade dos itens do menu
            menuIcon.addEventListener('click', () => {
                // Alterna a classe 'show' nos itens do menu para mostrar ou ocultar
                menuItems.classList.toggle('show');
                // Altera a altura do cabeçalho entre 12% e 45% com base no estado atual
                if (header_tam === '45%'){
                    header_tam = '12%'; // Define a altura de volta para 12%
                    header.style.height = header_tam;
                } else {
                    header_tam = '45%'; // Expande a altura para 45%
                    header.style.height = header_tam;
                }
            });
            // Seleciona os elementos
            const jogosButton = document.getElementById('jogos');
            const botoesJogos = document.querySelector('.botoes-jogos');

            // Variável para rastrear o estado de visibilidade
            let isVisible = false;

            // Adiciona um event listener para o clique
            jogosButton.addEventListener('click', () => {
                isVisible = !isVisible; // Alterna o estado de visibilidade
                botoesJogos.style.display = isVisible ? 'flex' : 'none'; // Mostra ou esconde os botões
            });

        </script>
        {% endblock%}
</body>
</html>
