<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FunMath</title>
    
    <link rel="stylesheet" href="static/style/base.css">

    {% block style %}

    {% endblock %}
</head>
<body>
    <!-- Contêiner principal que envolve todo o conteúdo da página -->
    <div class="container">
        <!-- Cabeçalho da página -->
        <header>
            <!-- Div para a logo -->
            <div class="logo">
                <a href="{{ url_for('index' ) }}"><img src="../static/imgs/logo2.png" alt=""></a><!-- Imagem do nome do site -->
            </div>
            <!-- botões -->
            <nav class="botoes">
                <!-- Ícone do menu (para uma versão de celular) -->
                <div class="menu-icon"></div>
                <!-- Itens de navegação do menu -->
                <div class="menu-items">
                    <!-- Botão para a página inicial -->
                        <a class="links"  href="{{url_for('index')}}">
                            <button class="links-button" id="bt_home">Home</button>
                        </a> <!-- Link para a página inicial -->
                    
                    <!-- Botão para a seção de jogos -->
                        <div class="botao-jogo">
                            <button class="links-button" id="jogos">Jogos</button>

                            
                            <div class="botoes-jogos"  style="display: none;">
                                <a href="{{ url_for('Trilha') }}">
                                    <button id="botoes-jogos" class="bt_jogo">Trilha</button>
                                </a>
                                <a href="{{ url_for('Quebra_cabeca') }}">
                                    <button id="botoes-jogos" class="bt_jogo">Quebra-Cabeça</button>
                                </a>
                                <a href="{{ url_for('Inicial_quiz') }}">
                                    <button id="botoes-jogos" class="bt_jogo">Quiz</button>
                                </a>
                                
                            </div>
                        </div>

                    <!-- Botão para a seção de ajuda -->
                    
                        <a class="links" onclick="abrirAjuda()">
                            <button class="links-button" id="bt_ajuda" >Ajuda</button>
                        </a>
                        <div id="modal_ajuda" class="modal" style="display: none;">
                            <div id="modal_content" style="color: black; background-color: white; padding: 20px; border-radius: 10px; max-width: 600px; margin: 5% auto; position: relative;">
                                <span onclick="fecharAjuda()" style="cursor:pointer; font-size: 30px; position: absolute; top: 10px; right: 15px;">&times;</span>
                                <h2>Perguntas Frequentes</h2>
                                <hr>
                                <p><strong>1. Como jogar os jogos?</strong><br>
                                - Trilha: responda certo para a raposa avançar as casas.<br>
                                - Quebra-cabeça: cada acerto revela uma peça.<br>
                                - Quiz: estilo kahoot com tempo.</p>
                                <p><strong>2. Preciso me cadastrar?</strong><br>
                                - Não necessariamente, mas você perde o seu progresso.</p>
                                <p><strong>3. E se eu tiver um problema técnico?</strong><br>
                                - Atualize a página. Se o erro continuar, entre em contato.</p>

                            </div>
                        </div>

                        {% if not current_user.is_authenticated %}
                            <a class="links" onclick="abrirLogin()">
                                <button class="links-button" id="bt_login">Login</button>
                            </a>
                            <div id="modal_login" class="modal" style="display: none;">
                                <div class="modal_content">
                                    <span onclick="fecharLogin()" class="fechar">&times;</span>

                                    <!-- LOGIN -->

                                    <div id="login_form">
                                        <h2>Login</h2>
                                        <div class="form_login">
                                            <form id="login" action="{{url_for('Login')}}" method="post">
                                                <input id="input_login" type="email" name="email" id="emailId" placeholder="Email" required>
                                                <input id="input_login" type="password" name="senha" id="senhaId" placeholder="Senha" required>
                                                {% with messages = get_flashed_messages() %}
                                                    {% if messages %}
                                                        <p style="color: red;" >{{messages[0]}}</p>
                                                    {% endif %}
                                                {% endwith %}
                                                <input id="entrar_login" type="submit" value="Entrar">
                                            </form>
                                            <div class="cadastrar">
                                                <h4>Ainda não tem uma conta?</h4>
                                                <a id="link-cadastro" onclick="mostrarCadastro()">Cadastre-se</a>
                                            </div>
                                            
                                        </div>
                                    </div>

                                    <!-- CADASTRO -->
                                    <div id="cadastro_form" style="display: none;">
                                        <h1>Cadastro</h1>
                                        <div class="form_login">
                                            <form id="login" action="{{url_for('Cadastro')}}" method="post">
                                                <input id="input_login" type="text" name="nome" placeholder="Nome">
                                                <input id="input_login" type="email" name="email" id="emailId" placeholder="Email">
                                                <input id="input_login" type="password" name="senha" id="senhaId" placeholder="Senha">
                                                {% with messages = get_flashed_messages() %}
                                                    {% if messages %}
                                                        <p style="color: red;">{{messages[0]}}</p>
                                                    {% endif %}
                                                {% endwith %}
                                                <input id="entrar_login" type="submit" value="Enviar">
                                            </form>
                                            <div class="cadastrar">
                                                <h4>Já possui uma conta?</h4>
                                                <a id="link-cadastro" onclick="mostrarLogin()" style="margin-left: 43%;">Login</a>
                                            </div>
                                            
                                        </div>
                                    </div>

                                </div>
                            </div>

                        {% endif %}
                        <!-- Seção de perfil com a imagem de perfil -->
                        <a href="{{ url_for('Perfil') }}" class="perfil">
                            <span id="perfilAvatar" style="font-size: 30px; background-color: skyblue; border-radius: 40px;padding: 5px;">🐶</span> <!-- Imagem padrão do avatar -->
                        </a>
                </div>
            </nav>
            
        </header>
        <aside>
            {% block aside %}
            {% endblock %}
        </aside>
        <section>
            {% block section %}
            {% endblock %}
        </section>
        
        
        <!-- Script JavaScript para interatividade do cabeçalho -->
        {% block js %}
        <script>
            // Seleciona o elemento do cabeçalho
            var header = document.querySelector('header');
            // Seleciona o ícone do menu e os itens do menu
            const menuIcon = document.querySelector('.menu-icon');
            const menuItems = document.querySelector('.menu-items');
            // Define a altura inicial do cabeçalho
            var header_tam = '12%';
            // Adiciona um ouvinte de evento ao ícone do menu para alternar a visibilidade dos itens do menu
            menuIcon.addEventListener('click', () => {
                // Alterna a classe 'show' nos itens do menu para mostrar ou ocultar
                menuItems.classList.toggle('show');
                // Altera a altura do cabeçalho entre 12% e 45% com base no estado atual
                if (header_tam === '45%'){
                    header_tam = '12%'; // Define a altura de volta para 12%
                    header.style.height = header_tam;
                } else {
                    header_tam = '45%'; // Expande a altura para 45%
                    header.style.height = header_tam;
                }
            });
            // Seleciona os elementos
            const jogosButton = document.getElementById('jogos');
            const botoesJogos = document.querySelector('.botoes-jogos');

            // Variável para rastrear o estado de visibilidade
            let isVisible = false;

            // Adiciona um event listener para o clique
            jogosButton.addEventListener('click', () => {
                isVisible = !isVisible; // Alterna o estado de visibilidade
                botoesJogos.style.display = isVisible ? 'flex' : 'none'; // Mostra ou esconde os botões
            });


            // Pega as informações do localStorage
            let Color = localStorage.getItem('selectedColor') || '#00AEEF';
            let Avatar = localStorage.getItem('selectedAvatar') || '🐶'; // Avatar padrão
            // Função para carregar a seleção salva ao iniciar a página
            function carregarSelecoes() {
                const perfilAvatar = document.getElementById('perfilAvatar');

                perfilAvatar.textContent = Avatar; // Atualiza o avatar do perfil
                perfilAvatar.style.backgroundColor = Color; // Atualiza a cor do fundo
            }

            // Chame a função ao carregar a página
            window.onload = carregarSelecoes;
            
              function scrollToSection() {
                const section = document.getElementById("section_inicial");
                if (section) {
                section.scrollIntoView({ behavior: "smooth" });
                }
            }

            function confirmLogout(event) {
                event.preventDefault(); // Evita o envio do formulário imediato

                // Pergunta ao usuário se deseja recuperar o progresso
                const userChoice = confirm('Deseja recuperar seu progresso quando não estava logado?');

                // Atualiza o valor do campo oculto com a escolha do usuário
                const choiceField = document.getElementById('user_choice');
                choiceField.value = userChoice ? 'recuperar' : 'reiniciar';

                // Envia o formulário
                event.target.submit(); // Envia o formulário
            }

            window.onscroll = function () {
                const btn = document.getElementById("btn-topo");
                if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                    btn.style.display = "block";
                } else {
                    btn.style.display = "none";
                }
                };

                // Função que rola suavemente para o topo
                function voltarAoTopo() {
                    window.scrollTo({ top: 0, behavior: "smooth" });
                }

            function abrirAjuda() {
            document.getElementById("modal_ajuda").style.display = "block";
            }

            function fecharAjuda() {
            document.getElementById("modal_ajuda").style.display = "none";
            }

            function abrirLogin() {
            document.getElementById("modal_login").style.display = "block";
            mostrarLogin()
            }

            function fecharLogin() {
            document.getElementById("modal_login").style.display = "none";
            }

            function mostrarCadastro() {
            document.getElementById("login_form").style.display = "none";
            document.getElementById("cadastro_form").style.display = "block";
            }

            function mostrarLogin() {
            document.getElementById("cadastro_form").style.display = "none";
            document.getElementById("login_form").style.display = "block";
            }



        </script>
        {% endblock %}
</body>
</html>